@font-face {
    font-family: 'FinkHeavy';
    src: url("../font/FinkHeavy.ttf") format('ttf');
}

body {
  background-image: url("../images/bg.jpg");
  background-size: 100%;
  color: #F3F1F2;
  font-family: 'FinkHeavy';
  margin: 0;
  text-align: center;
}


.row {
  width: 100%;
  height: 20%;
  margin-top: 50px;
  align-items: center;
  text-overflow: ellipsis;
}

p {
  font-size: 200%;
  display:inline-block;
}

.button-container {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-right: 30px;
}

.button-container .centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: #5A7E9C;
  font-family: 'FinkHeavy';
  font-size: 150%;
  height: 150px;
  width: 150px;
  border: none;
  color: #F3F1F2;
  cursor: pointer;
  border-radius: 12px;
}

.weather, .button {
  height: 50px;
  width: 50px;
}

.active, .button:hover {
  height: 50px;
  width: 50px;
  background-color: #7d91a1;
}